body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe4e1;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

header {
    background-color: #ffb6c1;
    color: white;
    padding: 20px 0;
    border-bottom: 4px solid #ff69b4;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


h3 {
    color: #ff69b4;
    margin-top: 30px;
}


dl, ul {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}


dt {
    font-weight: bold;
    color: #d147a3;
}

dd {
    margin-left: 20px;
}


a {
    color: #d147a3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff69b4;
    text-decoration: underline;
}


img {
    margin: 10px 0;
    width: 200px;
    border-radius: 10px;

}

ul ul {
    margin-left: 20px;
}
.profile {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.profile img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.profile dl {
    flex-grow: 1;
    margin: 0;
}
