.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, 20%);
}

.container .block{
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
    padding:20px;
}

.block.block1{
    background-color: #ad1457;
    grid-area: 1/1 /1/ 5;
    /* begin rij-lijn /begin kolom-lijn / einde rijlijn / einde kolom-lijn / */
 }
.block.block2{
    background-color: #6a478f;
    grid-area: 2/1 /4/3;
}
.block.block3{
    background-color: #8D99AE;
    grid-area: 2/3 /2/4;
}
.block.block4{
    background-color: #33a8a5;
    grid-area: 2/4 /2/5;
}
.block.block5{
    background-color: mediumorchid;
    grid-area: 3/3 /3/5;
}
.block.block6{
    background-color: #ad1457;
    grid-area: 4/1 /4/4;
}
.block.block7{
    background-color: #6a478f;
    grid-area: 4/4 /4/5;
}
.block.block8{
    background-color: #8D99AE;
    grid-area: 5/1 /5/5

}